body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

p{
    color: #4285f4;
 }
 p span{
    color: rgb(255, 0, 0);
 }



h1 {
    text-align: center;
    padding: 20px 0;
    background-color: #4285f4;
    color: #fff;
    margin: 0;
}

form {
    text-align: center;
    margin-top: 20px;
}

input[type="file"] {
    display: block;
    margin: 10px auto;
}

input[type="submit"],
button {
    padding: 10px 20px;
    background-color: #4285f4;
    color: #fff;
    border: none;
    cursor: pointer;
    margin: 10px;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #4285f4;
    color: #fff;
}